NODE_ENV=development
PORT=3000

# Database
DB_PATH=./absensi.db

# Face Recognition Service
FACE_RECOGNITION_ENABLED=true
FACE_CONFIDENCE_THRESHOLD=0.6
FACE_RECOGNITION_DELAY=2000

# NFC Settings
NFC_SCAN_COOLDOWN=60000
NFC_BAUDRATE=9600
